table{
  width:100%
}


td:nth-child(1) {
  text-align: right;
  color: #777879;
  padding-right: 10px;
  width:40%
}


td:nth-child(2){
  text-align: left;
  padding-left: 10px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 400px;
    margin: 10px 20px;
  }

  .main{
    display: flex;
    flex-direction: row;
    height: 50%;
    margin: 5px 0;
  }

  .avatar{
    width:50%;
    position: relative
  }

  .avatar_img{
    padding: 5px;
    width: 70%;
    position: absolute;
    top: 5%;
    right: 15%;
    cursor: pointer;
  }
  
  .mainData{
    width:50%
  }

  .stat{
    height: 50%;
    width:100%;
    margin: 5px 0;
  } 

  .title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
  }
  
  .title_stats{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    
  }

  .typeBox{
    margin: 5%;
    padding:5px;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 2px solid orange;

  }