.popup {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(190, 223, 218, 1);
  }

  .popup_inner {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 10%;
    right: 10%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }

  .column{
     display: flex;
     flex-direction: column;
     width: 100% 
  }